body {
	background:				#FFC;
	margin:					0;
}

.bot,
.goal {
	margin:					0;
	padding:				0;
	border:					1px solid #333;
	position:				absolute;
	font:           		18px Verdana, Geneva, sans-serif;
	color:          		white;
	text-align:     		center;
	width:					25px;
	height:					25px;
}

.bot {
    background:             #666;
    z-index:                2;
}

.goal {
	background:				#F00;
	z-index:                1;
}
