body {
	background:				#FFC;
	margin:					0;
}

.bot,
.botHypnotized,
.goal {
	margin:					0;
	padding:				0;
	border:					1px solid #333;
	background:				#666;
	position:				absolute;
	font:           		18px Verdana, Geneva, sans-serif;
	color:          		white;
	text-align:     		center;
	width:					25px;
	height:					25px;
}

.botHypnotized {
	background:				#36C;
}

.goal {
	background:				#F00;
}
